*{
    margin: auto;
    /* background-color: rgb(246, 246, 246); */
}

#jumiapay{
    display: flex;
}

#jumiapay .list ul li{
    list-style: none;
    margin-right: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
}

#jumiapay .list ul{
    display: flex;
}

#jumiapay .soj{
    display: flex;
}
#jumiapay .soj div{
    margin: 5px;
}


#navbar{
    padding-top: 20px;
    height: 50px;
    background-color: white;
    display: flex;
    /* margin: 20px; */
    /* border: solid 2px #f8991e ; */
}
#navbar input{
    width: 450px;
    height: 35px;
    /* margin-left: 40px; */
    border-radius: 5px;
}
#navbar span button{
    width: 100px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    background-color: #f8991e;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}
 #navbar .profile{
    display: flex;
 }

 #navbar .profile li{
    list-style: none;
    margin: 20px;
 }

#delivery{
    height: 60px;
    background-color: #f8991e;
    display: flex;
}

#delivery .text{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    
}

#delivery .text .span2{
    background-color: red;
    padding: 5px;
}
#delivery .text .span3{
    text-transform: lowercase;
    color: red;
    font-size: 20px;
}

#delivery .order{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    padding: 8px;
    background-color: rgb(121, 222, 222);


}
#delivery .midpic{
    margin-left: 20px;
}
#jumiapay{
    height: 40px;
    background-color: rgb(246, 246, 246);
}

#home{
    height: 600px;
    display: flex;
    margin: 15px;
    background-color: rgb(246, 246, 246);
}

#home .menu ul{
    height: 400px;
    width: 200px;
    background-color: white;
    list-style: none;
    padding-top: 5px;
}
#home .menu ul li{
    margin: 12px;
}
#home .menu ul li a{
    text-decoration: none;
}

#home .mainpic{
    background-image: url(./images/pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 400px;

}


#home .sidepic .sidepic_1{
    padding: 15px;
}

/*Beginning  of dtyling for the supermarket page  */


#sp-home{
    margin: 50px;
}

#sp-home a{
    text-decoration: none;
}

#sp-home .mainpic{
    background-image: url(./images/land.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;
    height: 250px;

}

#Grocery{
    background-color: rgb(226, 222, 222);
    /* margin: 20px; */
    width: 90%;
    height: 50px;
}
#Grocery p{
    font-family: sans-serif;
    /* font-weight: bolder; */
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
#stock-deals{
    margin-top: 20px;
    width: 94%;
    height: 500px;
}
#stock-deals .top{
    background-color: #BCAAA4;
    margin: 20px;
    padding: 20px;
}
#stock-deals p{
    display: inline;
    font-family: sans-serif;
    /* font-weight: bolder; */
    text-align: center;
    font-size: 20px;
}

#stock-deals .top .p2{
    float: right;
    text-transform: uppercase;
}
#stock-deals .stock{
    background-color: white;
    height: 200px;

}
#stock-deals .stock .drinks{
    display: flex;
    list-style: none;
    /* margin: 2px; */
    /* background-color: rgb(226, 222, 222); */
    /* width: 94%; */
}
#stock-deals .stock .drinks li{
    margin: 2px;
    background-color: white;

}

#stock-deals .stock .drinks li p{
    font-size: 18px;
    text-align: justify;
}
#stock-deals .stock .drinks li .slashed{
    text-decoration: line-through;
    font-size: 15px;
    color: gray;
}

/* Styling for second div */
#stock-deals .stock .others{
    margin-top: 30px;
    display: flex;
    list-style: none;
    /* background-color: rgb(226, 222, 222); */
    /* width: 94%; */
}
#stock-deals .stock .others li{
    margin: 2px;
    background-color: white;

}

#stock-deals .stock .others li p{
    font-size: 18px;
    text-align: center;
}

/* Beginning of styling for the health and beauty */
#hab-home{
    margin: 50px;
}
#hab-home a{
    text-decoration: none;
}
#hab-home .mainpic{
    background-image: url(./images/hab.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;
    height: 250px;

}
#hab{
    background-color: rgb(226, 222, 222);
    /* margin: 20px; */
    width: 90%;
    height: 50px;
}
#hab p{
    font-family: sans-serif;
    /* font-weight: bolder; */
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
#New{
    margin-top: 20px;
    width: 94%;
    height: 500px;
}
#New .top{
    background-color: #BCAAA4;
    margin: 20px;
    padding: 20px;
}
#New p{
    display: inline;
    font-family: sans-serif;
    /* font-weight: bolder; */
    text-align: center;
    font-size: 20px;
}

#New .top .p2{
    float: right;
    text-transform: uppercase;
}
#New .beauty{
    background-color: white;
    height: 200px;

}
#New .beauty .products{
    display: flex;
    list-style: none;
    /* margin: 2px; */
    /* background-color: rgb(226, 222, 222); */
    /* width: 94%; */
}
#New .beauty .products li{
    margin: 2px;
    background-color: white;

}

#sNew .beauty .products li p{
    font-size: 18px;
    text-align: justify;
}
#New .beauty .others li .slashed{
    text-decoration: line-through;
    font-size: 15px;
    color: gray;
}

/* Styling for second div */
#New .beauty .others{
    margin-top: 30px;
    display: flex;
    list-style: none;
    /* background-color: rgb(226, 222, 222); */
    /* width: 94%; */
}
#New .beauty .others li{
    margin: 2px;
    background-color: white;

}

#New .beauty .others li p{
    font-size: 18px;
    text-align: center;
}

/*Beginning  of dtyling for the phones page  */
#phone-home{
    margin: 50px;
}
#phone-home a{
    text-decoration: none;
}
#phone-home .mainpic{
    background-image: url(./images/phone.gif);
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;
    height: 250px;

}